.git
**/node_modules
**/dist
**/build
**/.DS_Store
data/sqlite
data/logs
logs/
backup/
tmp/
*.log
*.exe
*.o
*.a
*.so
*.d
core/shared/build/
core/shared/lib/
core/collector/build/
core/collector/bin/
core/export-gateway/build/
core/export-gateway/bin/
frontend/node_modules/
backend/node_modules/
